/Prática7/nbproject/private/
/Prática7/build/
/Prática3/nbproject/private/
/Prática3/build/
/Prática4/nbproject/private/
/Prática6/nbproject/private/
/Prática9/nbproject/private/
/Prática5/nbproject/private/
/Prática5/build/
/Prática3praticando/nbproject/private/
/Prática3praticando/build/
/Prática3praticando/dist/
/AvaliacaoA1/nbproject/private/
/AvaliacaoA1/build/
/Lab04/nbproject/private/
/Lab04/build/
